@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Signika+Negative:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
--lilás: #cdb4dbff;
--rosa-claro: #ffc8ddff;
--rosa: #ffafccff;
--azul-claro: #bde0feff;
--azul: #a2d2ffff;
--fonte-titulo: "Signika Negative", sans-serif;
--fonte-texto:  "Mooli", sans-serif;
}

body {
    background-color: var(--azul);
    font-family: var(--fonte-titulo);
    font-size: 16px;
}

.cabecalho{
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.cabecalho-img{
    width: 15%;
    border-radius: 10%;
}
